@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&display=swap');

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Cormorant Garamond", serif;
  
  --color-luxury-black: #0A0A0A;
  --color-luxury-gold: #D4AF37;
  --color-luxury-paper: #F9F7F2;
}

body {
  @apply bg-luxury-paper text-luxury-black font-sans antialiased;
}

.chic-gradient {
  background: radial-gradient(circle at 50% 50%, rgba(212, 175, 55, 0.05) 0%, transparent 70%);
}
